<div class="main-wrapper">
  <div class="page">
    <div class="container">
      <header>
        <h1>Layout management</h1>
      </header>
      <main>
        <div class="list-global">
          <div class="main-wrapper">
            <div class="main-wrapper-content">
              <accordion close-others="true">
                <accordion-group  is-open="layout.isOpen" data-ng-repeat="layout in user.selectedLayouts">
                <accordion-heading>
                {{layout.className}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </accordion-heading>
              <div class="example-layout">
                <div data-set-layout="{{$index}}">
                </div>
              </div>
            </accordion-group>
          </accordion>
          <a href="javascript:void(0)" data-ng-click="previousStep()">Previous </a>
                <a href="javascript:void(0)" data-ng-click="generateLayout()">
                    Generate
                </a>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
</div>