 *{
  margin:0;
  padding: 0;
}
*:after{
  clear: both;
  content: "";
  display: block;
}
a, a:hover, a:active, a:focus{
   outline: 0;
}
body{
  font:400 16px/1 'Roboto', sans-serif;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
img{
  max-width: 100%;
  vertical-align: middle;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
h1{
  font-size: 40px;
  border-bottom: 1px solid #ff6633;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: center;
  color:#ff6633;
}
h2{
  font-size: 30px;
  color:#ff6633;
  text-align: center;
  margin-bottom: 30px;
}
h3{
  font-size: 20px;
  color:#ff6633;
  text-align: center;
  margin-bottom: 30px;
}
.selected-page{
  text-align: left;
}
a{
  font:300 25px/1 'Roboto', sans-serif;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
  color: #000
}
.btn-orange a{
  background: rgba(0,0,0,.6);
  padding: 20px 60px;
  color: #FFF;
  float: right;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.btn-orange a:hover{
  background:#ff6633;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
header{
  padding: 30px 0 0 0;
}
.list-global{
  width: 100%;
}
.list-global li{
  float: left;
  margin-bottom: 50px;
  width: 32%;
  margin-left: 2%;
  text-transform: uppercase;
  font:300 25px/1 'Roboto', sans-serif;
  text-align: center;
}
.list-global li:nth-child(3n+1){
  margin-left: 0;
}
.list-global li .img-block{
  position: relative;
  border:1px solid rgba(0,0,0,.05);
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.list-global li .img-block:hover{
  border-color:#ff6633;
}
.list-global li .img-block span{
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
input[type="checkbox"]{

}
input[type="checkbox"] + label {
  display:inline-block;
  width:36px;
  height:36px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(images/icon-check-blank.png) left top no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked + label {
  background:url(images/icon-check.png) left top no-repeat;
}
.flt-right{
  float: right;
}
.flt-left{
  float: left;
}
.width-300{
  width: 300px;
}
.width-200{
  width: 200px;
}


.page .page-left {
  float: left;
  margin: 10px;
  width: 55%;
}

.page .page-right {
  float: right;
  height: 400px;
  margin: 10px;
  width: 40%;
}
.set-layout-wrapper{
  border: 1px solid #dddddd;
  padding: 20px;
}
.sample-layout-wrapper{
  margin-bottom: 30px;
}
.set-layout-wrapper label {

  float: left;
  width: 200px;
}

.btn-small a{
 margin-bottom: 30px;
 padding: 10px 30px;
 float: left;
 margin-top: 30px;
}
p{
  margin: 10px;
}
.bottom-wrapper{
width: 100%
}
.bottom-wrapper-left{
width: 235px;
}
.bottom-wrapper-right{
width: 200px;
}
.example-layout{
  width: 480px;
  margin: 0px auto;
}
.panel-title a span{
  display: inline-block;
}
input[type="text"]{
  padding: 10px;
}

.panel-title .accordion-toggle{
    display: block;
}