.parent{
height: 250px;
width: 500px;
background: blue;
}

.first-child{
height: 240px;
width: 150px;
background: red;
float: left;
}

.second-child{
height: 240px;
width: 150px;
background: green;
float: left;
}

.second-grand-child{
height: 125px;
width: 50px;
background: black;
float: left;
}

.third-child{
height: 240px;
width: 50px;
background: yellow;
float: left;
}

